.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

p {
  font-size: 20px;
  margin-left: 20px;
}

.left {
  display: inline-flex;
  margin-left: 40px;
  width: auto;
  margin-bottom: 10px;
}

.richard {
  display: inline-flex;
  margin-left: 600px;
  width: 23%;
  margin-top: -90px;
}

/*.nav-link {
  margin: 4px;
  border: 2px solid #2484bf;
  padding: 5px;
  background-color: #2484bf;
  color: #f5f5ff;
}
*/
nav ul li {
  margin: 10px;
  font-size: 20px;
  display: inline-block;
}

h3 {
  font-weight: lighter;
}

nav {
  background-color: #11698e;
}

nav ul {
  padding: 0;

  list-style: none;
}

nav li {
  display: inline-block;
  margin: 5px 0;
}

nav a {
  display: inline-block;
  height: 95%;

  padding: 15px 25px;

  background: #121212;
  color: #ededed;

  text-decoration: none;
}

nav a:hover,
nav a:focus {
  background-color: #e02e2e;
  color: #ececec;
}

nav a:active {
  font-weight: bolder;
}
